<ion-view>
    <ion-nav-title>Map Overlap</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="onPush()">Push</button>
    </ion-nav-buttons>
  <ion-content>
    <div style="height:100px;">
        <h2>This is some subheading content of some sort.</h2>
    </div>
    <div id="mapdiv" style="height:180px;width:100%;"></div>
    <div>
        <p>Lorem ipsum aptent accumsan diam cubilia accumsan integer fringilla dapibus, placerat convallis velit iaculis curabitur sem phasellus blandit, lectus sagittis tempor venenatis erat purus pellentesque dictum hendrerit ad etiam ipsum et ullamcorper lorem.</p>
        <p>Arcu et nec class nisi velit purus vestibulum tempus tristique, quisque posuere porttitor diam phasellus aenean dapibus class, hac nec est rutrum curae proin aenean quisque placerat mi interdum litora scelerisque auctor ultricies nisi.</p>
        <p>Egestas ligula pretium vulputate convallis primis sodales sed vestibulum duis eros rutrum congue, nisl pellentesque ullamcorper nibh at sem aliquam tempor ac scelerisque habitant, tellus condimentum velit auctor justo mauris aenean neque etiam tellus sociosqu.</p>
        <p>Bibendum quisque venenatis at aliquam pretium urna pharetra et, egestas aliquam ut est fermentum hac convallis, arcu taciti tempor sit porttitor venenatis vestibulum feugiat dui varius aenean.</p>
        <p>Sociosqu at curabitur euismod massa senectus elementum habitasse suscipit himenaeos sagittis phasellus, tincidunt condimentum posuere lorem nullam vel inceptos suspendisse nullam id aliquet risus in faucibus vel aenean aptent sollicitudin ad interdum.</p>
    </div>
  </ion-content>
</ion-view>
